.App {
  text-align: left;
  font-size: medium;
  font-style: italic;
 
}








.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
